* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  outline: 0;
}

:root {
  --site-fornt-1: "IBM Plex Sans";
  --site-fornt-2: "Work Sans";
  --site-color-1: #0f47ff;
  --site-color-2: #fff669;
  --site-color-3: #141414;
  --site-color-4: #f2f2f2;
  --site-color-5: #ffffff;
  --site-color-6: #000000;
  --site-color-7: #ffffff;
  --site-color-8: #000000;
  --site-color-9: #141414;
  --site-color-10: #f2f2f2;
  --site-color-11: #ffffff;
  --site-color-12: #000000;
  --site-color-13: #f5f5f5;
  --site-color-14: #0f47ff;
  --site-color-15: rgba(0, 0, 0, 0.20);
  --site-std-gutter-space-1: 15px;
}

body {
  font-family: var(--site-fornt-1), system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.w-full {
  width: 100%;
}

.relative {
  position: relative;
}

.site-container {
  max-width: 1240px;
  padding-left: var(--site-std-gutter-space-1);
  padding-right: var(--site-std-gutter-space-1);
  margin: 0px auto;
}
.site-container.no-default-pad {
  max-width: 1200px;
  padding-left: 0px;
  padding-right: 0px;
}

/* ---- HEADER ----- */
.header-outer {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 20;
  margin-top: var(--site-std-gutter-space-1);
}

.site-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px 25px;
  padding: 8px var(--site-std-gutter-space-1);
  background-color: var(--site-color-7);
  border: 2px solid var(--site-color-9);
  -webkit-box-shadow: 4px 3px 0px var(--site-color-9);
          box-shadow: 4px 3px 0px var(--site-color-9);
}

.site-logo {
  margin-right: auto;
}
.site-logo img {
  display: block;
  width: 130px;
  height: auto;
}
.site-logo .light-logo {
  display: block;
}
.site-logo .dark-logo {
  display: none;
}

@media (max-width: 767px) {
  .header-outer {
    margin-top: 0px;
  }
  .site-logo img {
    width: 110px;
  }
}
.mtb-par {
  display: none;
}

.menu-toggle-button {
  display: inline-block;
  position: relative;
  cursor: pointer;
  text-decoration: none;
  width: 30px;
  height: 30px;
  padding: 0px;
  margin: 0px;
  background-color: var(--site-color-7);
  color: var(--site-color-8);
  border: 2px solid var(--site-color-9);
  -webkit-box-shadow: 1.5px 1.5px 0px var(--site-color-9);
          box-shadow: 1.5px 1.5px 0px var(--site-color-9);
  -webkit-border-radius: 0px;
          border-radius: 0px;
}
.menu-toggle-button .svg-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
}
.menu-toggle-button .icon-box {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 20px;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
       -o-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 5;
}
.menu-toggle-button .menu-icon {
  display: inline-block;
}
.menu-toggle-button .close-icon {
  display: none;
}
.menu-toggle-button.active .menu-icon {
  display: none;
}
.menu-toggle-button.active .close-icon {
  display: inline-block;
}

@media (max-width: 767px) {
  .mtb-par {
    display: inline-block;
  }
}
.site-navigation {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  gap: 10px 30px;
  list-style: none;
  padding: 0px;
  margin: 0px;
  opacity: 1;
  -webkit-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}
.site-navigation .nav-link {
  display: inline-block;
  text-decoration: none;
  margin: 0px;
  padding: 0px;
  border: 0px;
  font-family: var(--site-fornt-2);
  font-weight: 600;
  font-size: 14px;
  background-color: transparent;
  color: var(--site-color-9);
  position: relative;
  -webkit-border-radius: 0px;
          border-radius: 0px;
  -webkit-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}
.site-navigation .nav-link::after {
  content: "";
  position: absolute;
  left: 0px;
  bottom: -1px;
  width: 100%;
  height: 1px;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.7);
  opacity: 0;
  -webkit-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}
.site-navigation .nav-link:hover, .site-navigation .nav-link:active, .site-navigation .nav-link.active {
  background-color: transparent;
  color: var(--site-color-1);
  text-decoration: none;
}
.site-navigation .nav-link:hover::after, .site-navigation .nav-link:active::after, .site-navigation .nav-link.active::after {
  opacity: 1;
}
.site-navigation li.active .nav-link {
  background-color: transparent;
  color: var(--site-color-1);
  text-decoration: none;
}
.site-navigation:hover .nav-link {
  opacity: 0.3;
}
.site-navigation:hover .nav-link:hover {
  opacity: 1;
}

@media (max-width: 767px) {
  .site-nav {
    display: none;
    position: absolute;
    left: 0px;
    top: 58px;
    width: 100%;
    z-index: 20;
  }
  .site-navigation {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 0px;
    background-color: var(--site-color-7);
    border: 2px solid var(--site-color-9);
    -webkit-box-shadow: 4px 3px 0px var(--site-color-9);
            box-shadow: 4px 3px 0px var(--site-color-9);
  }
  .site-navigation li {
    width: 100%;
    border-bottom: 2px solid var(--site-color-9);
  }
  .site-navigation li:last-child {
    border-bottom: 0px;
  }
  .site-navigation .nav-link {
    display: block;
    width: 100%;
    padding: 8px var(--site-std-gutter-space-1);
    background-color: transparent;
  }
  .site-navigation .nav-link::after {
    display: none;
  }
  .site-navigation:hover .nav-link {
    opacity: 1;
  }
  .site-navigation:hover .nav-link:hover {
    opacity: 1;
  }
}
.socl-outer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px var(--site-std-gutter-space-1);
}

.socl-item {
  height: 25px;
}
.socl-item a {
  color: rgba(0, 0, 0, 0.7);
}
.socl-item a:hover {
  color: var(--site-color-9);
}
.socl-item .svg-icon {
  display: inline-block;
  width: 25px;
  height: 25px;
}

@media (max-width: 767px) {
  .socl-outer {
    display: none;
  }
}
.theme-swpar {
  height: 30px;
  position: relative;
}

.theme-switch-button {
  display: inline-block;
  text-decoration: none;
  border: 0px;
  padding: 0px;
  margin: 0px;
  width: 30px;
  height: 30px;
  position: relative;
  cursor: pointer;
  background-color: transparent;
  color: rgba(0, 0, 0, 0.4);
  -webkit-border-radius: 0px;
          border-radius: 0px;
}
.theme-switch-button .icon-box {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 20px;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
       -o-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 5;
}
.theme-switch-button .svg-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
}
.theme-switch-button:hover, .theme-switch-button:active {
  background-color: transparent;
  color: var(--site-color-9);
}

.theme-switch-menu {
  display: none;
  margin: 0px;
  padding: 0px;
  list-style: none;
  position: absolute;
  right: 0px;
  top: 35px;
  z-index: 19;
  background-color: var(--site-color-11);
  border: 2px solid var(--site-color-9);
  -webkit-box-shadow: 4px 3px 0px var(--site-color-9);
          box-shadow: 4px 3px 0px var(--site-color-9);
  max-width: 150px;
}
.theme-switch-menu li {
  border-bottom: 2px solid var(--site-color-9);
  width: 100%;
}
.theme-switch-menu li:last-child {
  border-bottom: 0px;
}
.theme-switch-menu .nav-link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin: 0px;
  padding: 8px 15px;
  border: 0px;
  font-size: 14px;
  font-weight: 400;
  background-color: transparent;
  color: var(--site-color-9);
  cursor: pointer;
  -webkit-border-radius: 0px;
          border-radius: 0px;
  gap: 0px 10px;
}
.theme-switch-menu .nav-link .svg-icon {
  display: inline-block;
  width: 18px;
  height: 18px;
}
.theme-switch-menu .nav-link:hover, .theme-switch-menu .nav-link:active, .theme-switch-menu .nav-link.active {
  background-color: var(--site-color-9);
  color: var(--site-color-10);
}

.home-banner-outer {
  background-color: var(--site-color-13);
}

.hbo-diagonal-patbg {
  --distance: 70px;
  --line-width: 2px;
  background-image: -webkit-repeating-linear-gradient(45deg, var(--site-color-15) 0, var(--site-color-15) var(--line-width), transparent 0, transparent 50%);
  background-image: -o-repeating-linear-gradient(45deg, var(--site-color-15) 0, var(--site-color-15) var(--line-width), transparent 0, transparent 50%);
  background-image: repeating-linear-gradient(45deg, var(--site-color-15) 0, var(--site-color-15) var(--line-width), transparent 0, transparent 50%);
  background-size: var(--distance) var(--distance);
}

.home-banner-main {
  padding: 100px 0px;
  min-height: 100vh;
}

@media (max-width: 767px) {
  .hbo-diagonal-patbg {
    --distance: 50px;
  }
}
/* ---- DARK MODE ---- */
@media (prefers-color-scheme: dark) {
  :root {
    --site-color-7: #000000;
    --site-color-8: #ffffff;
    --site-color-9: #f2f2f2;
    --site-color-10: #141414;
    --site-color-11: #141414;
    --site-color-12: #f2f2f2;
    --site-color-13: #111111;
    --site-color-15: rgba(255, 255, 255, 0.20);
  }
  .site-logo .light-logo {
    display: none;
  }
  .site-logo .dark-logo {
    display: block;
  }
  .theme-switch-button {
    color: rgba(255, 255, 255, 0.7);
  }
  .theme-switch-button .system-icon {
    display: inline-block;
  }
  .theme-switch-button .light-icon {
    display: none;
  }
  .theme-switch-button .dark-icon {
    display: none;
  }
  .theme-switch-button:hover, .theme-switch-button:active {
    background-color: transparent;
    color: var(--site-color-4);
  }
  .site-navigation .nav-link::after {
    border-bottom-color: rgba(255, 255, 255, 0.7);
  }
  .socl-item a {
    color: rgba(255, 255, 255, 0.7);
  }
  .socl-item a:hover {
    color: var(--site-color-5);
  }
}
:root[theme-mode=dark] {
  --site-color-7: #000000;
  --site-color-8: #ffffff;
  --site-color-9: #f2f2f2;
  --site-color-10: #141414;
  --site-color-11: #141414;
  --site-color-12: #f2f2f2;
  --site-color-13: #111111;
  --site-color-15: rgba(255, 255, 255, 0.20);
}

[theme-mode=dark] .site-logo .light-logo {
  display: none;
}
[theme-mode=dark] .site-logo .dark-logo {
  display: dark;
}
[theme-mode=dark] .theme-switch-button {
  color: rgba(255, 255, 255, 0.7);
}
[theme-mode=dark] .theme-switch-button .system-icon {
  display: none;
}
[theme-mode=dark] .theme-switch-button .light-icon {
  display: inline-block;
}
[theme-mode=dark] .theme-switch-button .dark-icon {
  display: none;
}
[theme-mode=dark] .theme-switch-button:hover, [theme-mode=dark] .theme-switch-button:active {
  background-color: transparent;
  color: var(--site-color-4);
}
[theme-mode=dark] .site-navigation .nav-link::after {
  border-bottom-color: rgba(255, 255, 255, 0.7);
}
[theme-mode=dark] .socl-item a {
  color: rgba(255, 255, 255, 0.7);
}
[theme-mode=dark] .socl-item a:hover {
  color: var(--site-color-5);
}

:root[theme-mode=light] {
  --site-color-7: #ffffff;
  --site-color-8: #000000;
  --site-color-9: #141414;
  --site-color-10: #f2f2f2;
  --site-color-11: #ffffff;
  --site-color-12: #000000;
  --site-color-13: #f5f5f5;
  --site-color-15: rgba(0, 0, 0, 0.20);
}

[theme-mode=light] .site-logo .light-logo {
  display: block;
}
[theme-mode=light] .site-logo .dark-logo {
  display: none;
}
[theme-mode=light] .theme-switch-button {
  color: rgba(0, 0, 0, 0.4);
}
[theme-mode=light] .theme-switch-button .system-icon {
  display: none;
}
[theme-mode=light] .theme-switch-button .light-icon {
  display: none;
}
[theme-mode=light] .theme-switch-button .dark-icon {
  display: inline-block;
}
[theme-mode=light] .theme-switch-button:hover, [theme-mode=light] .theme-switch-button:active {
  background-color: transparent;
  color: var(--site-color-9);
}
[theme-mode=light] .site-navigation .nav-link::after {
  border-bottom-color: rgba(0, 0, 0, 0.5);
}
[theme-mode=light] .socl-item a {
  color: rgba(0, 0, 0, 0.7);
}
[theme-mode=light] .socl-item a:hover {
  color: var(--site-color-9);
}

/*# sourceMappingURL=style.css.map */