@use './../partials/variables' as *;

.work-section-outer {
    background-color: var(--site-color-7);
}

.work-main {
    padding: 100px 0px 50px 0px;
    min-height: 100vh;
}

.wkpad-1 {
    padding-bottom: 25px;
}

.work-maxw1 {
    max-width: 500px;
}

.wkpad-2 {
    padding-bottom: 5px;
}

.wktab-outer {
    display: inline-block;
    border: 1px solid var(--site-color-1);
    box-shadow: 2px 2px 0px var(--site-color-1);

    & .inner-cnt {
        display: flex;
    }
}

.separator {
    width: 1px;
    background-color: var(--site-color-1);
    min-height: 100%;
}

.wktab-btn {
    display: inline-block;
    text-decoration: none;
    background-color: transparent;
    margin: 0px;
    border: 0px;
    padding: 10px 15px;
    color: var(--site-color-1);
    font-family: var(--site-fornt-2), system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    position: relative;
    border-radius: 0px;
    transition: 0.5s;

    &:hover,
    &:active,
    &.active {
        text-decoration: none;
        background-color: var(--site-color-1);
        color: var(--site-color-2);
    }
}

.wktab-panel {
    display: none;
}

.wktab-pangrd {
    // display: grid;
    // grid-template-columns: repeat(3, 1fr);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.wktab-pangrd-item {
    width: calc(33.3333% - 13.5px);
    background-color: var(--site-color-10);
    border: 1px solid var(--site-color-9);
    box-shadow: 2px 2px 0px var(--site-color-9);

    & .inner-box {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 15px;
        min-height: 100%;
    }
}

.wktbpngdit-imgcnt {
    padding-bottom: 15px;

    & img {
        display: block;
        width: 100%;
        height: auto;
    }
}

.wktbpngdit-tagsgd {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
}

.wktbpngdit-tagsgd-item {
    display: inline-block;
    padding: 5px 10px;
    font-size: 12px;
    font-weight: 600;
    background-color: var(--site-color-7);
    color: var(--site-color-9);
    // background: linear-gradient(55deg, rgba(15, 71, 255, 1) 0%, rgba(65, 108, 224, 1) 34%, rgba(255, 246, 105, 1) 100%);
    // color: var(--site-color-3);
    border: 1px solid var(--site-color-9);
    box-shadow: 2px 2px 0px var(--site-color-9);
    border-radius: 50px;
}

.wktbpngdit-pad-1 {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 5px;
}

.wktbpngdit-title {
    display: block;
    padding: 0px;
    margin: 0px;
    font-family: var(--site-fornt-2), system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: var(--site-color-9);
}

.wktbpngdit-pad-2 {
    padding-left: 15px;
    padding-right: 15px;
}

.wktbpngdit-dscrtxt {
    display: block;
    padding: 0px;
    margin: 0px;
    font-size: 16px;
    font-weight: 400;
    color: var(--site-color-9);
}

.wktbpngdit-ctagd {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px 15px;
    padding: 0px 15px 15px 15px;
}

.wktbpngdit-ctalink {
    display: inline-block;
    text-decoration: none;
    margin: 0px;
    padding: 8px 15px;
    border: 1px solid var(--site-color-9);
    cursor: pointer;
    position: relative;
    font-size: 14px;
    background-color: var(--site-color-1);
    color: var(--site-color-5);
    // background: linear-gradient(55deg, rgba(15, 71, 255, 1) 0%, rgba(65, 108, 224, 1) 34%, rgba(255, 246, 105, 1) 100%);
    // color: var(--site-color-3);
    text-shadow: 1px 1px 1px var(--site-color-3);
    box-shadow: 2px 2px 0px var(--site-color-9);
    border-radius: 50px;

    & .base {
        display: flex;
        align-items: center;
        gap: 5px;
    }

    & .svg-icon {
        display: inline-block;
        width: 16px;
        height: 16px;
    }

    &:hover,
    &:active {
        background-color: var(--site-color-2);
        color: var(--site-color-1);
        text-decoration: none;
    }
}

@media (max-width: 991px) {

    // .wktab-pangrd {
    //     grid-template-columns: repeat(2, 1fr);
    // }
    .wktab-pangrd-item {
        width: calc(50% - 10px);
    }
}

@media (max-width: $mob_mqbp_1) {
    .work-main {
        padding: 50px 0px;
    }
}

@media (max-width: $std_mob_mqbp_1) {
    .wktab-btn {
        padding: 7px 13px;
        font-size: 12px;
    }

    .wktbpngdit-title {
        font-size: 18px;
    }

    .wktbpngdit-dscrtxt {
        font-size: 14px;
    }

    .wktbpngdit-ctalink {
        padding: 6px 12px;
        font-size: 12px;

        & .svg-icon {
            width: 14px;
            height: 14px;
        }
    }
}

@media (max-width: 680px) {
    .wktab-pangrd {
        flex-direction: column;
        // grid-template-columns: 1fr;
    }

    .wktab-pangrd-item {
        width: 100%;
    }
}